In [1]:
budget_data = {"Jan-2010": 867884,
               "Feb-2010": 984655,
               "Mar-2010": 322013,
               "Apr-2010": -69417,
               "May-2010": 310503,
               "Jun-2010": 522857,
               "Jul-2010": 1033096,
               "Aug-2010": 604885,
               "Sep-2010": -216386,
               "Oct-2010": 477532,
               "Nov-2010": 893810,
               "Dec-2010": -80353,
               "Jan-2011": 779806,
               "Feb-2011": -335203,
               "Mar-2011": 697845,
               "Apr-2011": 793163,
               "May-2011": 485070,
               "Jun-2011": 584122,
               "Jul-2011": 62729,
               "Aug-2011": 668179,
               "Sep-2011": 899906,
               "Oct-2011": 834719,
               "Nov-2011": 132003,
               "Dec-2011": 309978,
               "Jan-2012": -755566,
               "Feb-2012": 1170593,
               "Mar-2012": 252788,
               "Apr-2012": 1151518,
               "May-2012": 817256,
               "Jun-2012": 570757,
               "Jul-2012": 506702,
               "Aug-2012": -1022534,
               "Sep-2012": 475062,
               "Oct-2012": 779976,
               "Nov-2012": 144175,
               "Dec-2012": 542494,
               "Jan-2013": 359333,
               "Feb-2013": 321469,
               "Mar-2013": 67780,
               "Apr-2013": 471435,
               "May-2013": 565603,
               "Jun-2013": 872480,
               "Jul-2013": 789480,
               "Aug-2013": 999942,
               "Sep-2013": -1196225,
               "Oct-2013": 268997,
               "Nov-2013": -687986,
               "Dec-2013": 1150461,
               "Jan-2014": 682458,
               "Feb-2014": 617856,
               "Mar-2014": 824098,
               "Apr-2014": 581943,
               "May-2014": 132864,
               "Jun-2014": 448062,
               "Jul-2014": 689161,
               "Aug-2014": 800701,
               "Sep-2014": 1166643,
               "Oct-2014": 947333,
               "Nov-2014": 578668,
               "Dec-2014": 988505,
               "Jan-2015": 1139715,
               "Feb-2015": 1029471,
               "Mar-2015": 687533,
               "Apr-2015": -524626,
               "May-2015": 158620,
               "Jun-2015": 87795,
               "Jul-2015": 423389,
               "Aug-2015": 840723,
               "Sep-2015": 568529,
               "Oct-2015": 332067,
               "Nov-2015": 989499,
               "Dec-2015": 778237,
               "Jan-2016": 650000,
               "Feb-2016": -1100387,
               "Mar-2016": -174946,
               "Apr-2016": 757143,
               "May-2016": 445709,
               "Jun-2016": 712961,
               "Jul-2016": -1163797,
               "Aug-2016": 569899,
               "Sep-2016": 768450,
               "Oct-2016": 102685,
               "Nov-2016": 795914,
               "Dec-2016": 60988,
               "Jan-2017": 138230,
               "Feb-2017": 671099 }

In [2]:
print("Total Months:", len(budget_data))

Total Months: 86

In [3]:
def total_months(budget):
    count = 0
    for months in budget:
        count += 1
    return count

In [4]:
print ("Total Months:",total_months(budget_data))

Total Months: 86

In [5]:
print ("Total Amount:$",sum(budget_data.values()))

Total Amount:$ 38382578

In [6]:
Total_Amount = 0

In [7]:
for amount in budget_data.values():
    Total_Amount += amount
print(f"Total Amount:$ {Total_Amount}")

Total Amount:$ 38382578

In [8]:
First_Month_Profit=list(budget_data.values())[0]

In [9]:
Last_Month_Profit=list(budget_data.values())[-1]

In [10]:
Average_Change= (Last_Month_Profit-First_Month_Profit)/ (len(budget_data)-1)

In [11]:
print("Average Change:$",round(Average_Change,2))

Average Change:$ -2315.12

In [12]:
list(budget_data.values())

[867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099]

In [13]:
import numpy as np

In [14]:
change = np.array([867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099])

In [15]:
print("Difference:", np.diff(change))

Difference: [  116771  -662642  -391430   379920   212354   510239  -428211  -821271
   693918   416278  -974163   860159 -1115009  1033048    95318  -308093
    99052  -521393   605450   231727   -65187  -702716   177975 -1065544
  1926159  -917805   898730  -334262  -246499   -64055 -1529236  1497596
   304914  -635801   398319  -183161   -37864  -253689   403655    94168
   306877   -83000   210462 -2196167  1465222  -956983  1838447  -468003
   -64602   206242  -242155  -449079   315198   241099   111540   365942
  -219310  -368665   409837   151210  -110244  -341938 -1212159   683246
   -70825   335594   417334  -272194  -236462   657432  -211262  -128237
 -1750387   925441   932089  -311434   267252 -1876758  1733696   198551
  -665765   693229  -734926    77242   532869]

In [16]:
Max_value=max(np.diff(change))

In [17]:
print(Max_value)

1926159

In [18]:
Min_value=min(np.diff(change))

In [19]:
print(Min_value)

-2196167

In [20]:
list(np.diff(change))

[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [21]:
difference=[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [22]:
print(difference.index(1926159))

24

In [23]:
print(difference.index(-2196167))

43

In [24]:
list(budget_data.keys())

['Jan-2010',
 'Feb-2010',
 'Mar-2010',
 'Apr-2010',
 'May-2010',
 'Jun-2010',
 'Jul-2010',
 'Aug-2010',
 'Sep-2010',
 'Oct-2010',
 'Nov-2010',
 'Dec-2010',
 'Jan-2011',
 'Feb-2011',
 'Mar-2011',
 'Apr-2011',
 'May-2011',
 'Jun-2011',
 'Jul-2011',
 'Aug-2011',
 'Sep-2011',
 'Oct-2011',
 'Nov-2011',
 'Dec-2011',
 'Jan-2012',
 'Feb-2012',
 'Mar-2012',
 'Apr-2012',
 'May-2012',
 'Jun-2012',
 'Jul-2012',
 'Aug-2012',
 'Sep-2012',
 'Oct-2012',
 'Nov-2012',
 'Dec-2012',
 'Jan-2013',
 'Feb-2013',
 'Mar-2013',
 'Apr-2013',
 'May-2013',
 'Jun-2013',
 'Jul-2013',
 'Aug-2013',
 'Sep-2013',
 'Oct-2013',
 'Nov-2013',
 'Dec-2013',
 'Jan-2014',
 'Feb-2014',
 'Mar-2014',
 'Apr-2014',
 'May-2014',
 'Jun-2014',
 'Jul-2014',
 'Aug-2014',
 'Sep-2014',
 'Oct-2014',
 'Nov-2014',
 'Dec-2014',
 'Jan-2015',
 'Feb-2015',
 'Mar-2015',
 'Apr-2015',
 'May-2015',
 'Jun-2015',
 'Jul-2015',
 'Aug-2015',
 'Sep-2015',
 'Oct-2015',
 'Nov-2015',
 'Dec-2015',
 'Jan-2016',
 'Feb-2016',
 'Mar-2016',
 'Apr-2016',
 'May-2016',
 'Jun-2016',
 'Jul-2016',
 'Aug-2016',
 'Sep-2016',
 'Oct-2016',
 'Nov-2016',
 'Dec-2016',
 'Jan-2017',
 'Feb-2017']

In [25]:
date=['Jan-2010',
 'Feb-2010',
 'Mar-2010',
 'Apr-2010',
 'May-2010',
 'Jun-2010',
 'Jul-2010',
 'Aug-2010',
 'Sep-2010',
 'Oct-2010',
 'Nov-2010',
 'Dec-2010',
 'Jan-2011',
 'Feb-2011',
 'Mar-2011',
 'Apr-2011',
 'May-2011',
 'Jun-2011',
 'Jul-2011',
 'Aug-2011',
 'Sep-2011',
 'Oct-2011',
 'Nov-2011',
 'Dec-2011',
 'Jan-2012',
 'Feb-2012',
 'Mar-2012',
 'Apr-2012',
 'May-2012',
 'Jun-2012',
 'Jul-2012',
 'Aug-2012',
 'Sep-2012',
 'Oct-2012',
 'Nov-2012',
 'Dec-2012',
 'Jan-2013',
 'Feb-2013',
 'Mar-2013',
 'Apr-2013',
 'May-2013',
 'Jun-2013',
 'Jul-2013',
 'Aug-2013',
 'Sep-2013',
 'Oct-2013',
 'Nov-2013',
 'Dec-2013',
 'Jan-2014',
 'Feb-2014',
 'Mar-2014',
 'Apr-2014',
 'May-2014',
 'Jun-2014',
 'Jul-2014',
 'Aug-2014',
 'Sep-2014',
 'Oct-2014',
 'Nov-2014',
 'Dec-2014',
 'Jan-2015',
 'Feb-2015',
 'Mar-2015',
 'Apr-2015',
 'May-2015',
 'Jun-2015',
 'Jul-2015',
 'Aug-2015',
 'Sep-2015',
 'Oct-2015',
 'Nov-2015',
 'Dec-2015',
 'Jan-2016',
 'Feb-2016',
 'Mar-2016',
 'Apr-2016',
 'May-2016',
 'Jun-2016',
 'Jul-2016',
 'Aug-2016',
 'Sep-2016',
 'Oct-2016',
 'Nov-2016',
 'Dec-2016',
 'Jan-2017',
 'Feb-2017']

In [26]:
print("Financial analysis")
print ("Total Months:",total_months(budget_data))
print ("Total Amount:$",sum(budget_data.values()))
print("Average Change:$",round(Average_Change,2))
print("Greatest Increase in Profits:",date[24+1],Max_value)
print("Greatest Dncrease in Profits:",date[43+1],Min_value)

Financial analysis
Total Months: 86
Total Amount:$ 38382578
Average Change:$ -2315.12
Greatest Increase in Profits: Feb-2012 1926159
Greatest Dncrease in Profits: Sep-2013 -2196167